@import url('./reset.css');
@import url('./footer.css');
@import url('./form.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1E1930;
    --secondary-color: #FFFF00; 
    --third-color: #3D475E;
    --fourth-color: #CFD8ED;
}

/* Início da Estilização */
body {
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fourth-color);
    overflow-x: hidden;
}

.nav {
    background-color: var(--primary-color);
    padding: 0 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 500px;
    width: 100%;
}

